# 404 page
ErrorDocument 404 http://localhost/moviesgrip/404.php

RewriteEngine On
RewriteBase /moviesgrip/

# Index Removal
RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

# Extension Removal
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# URL Rewrite Root
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^movies/(.+)$ movie-template.php?id=$1 [L]
RewriteRule ^webseries/(.+)$ webseries-template.php?id=$1 [L]
RewriteRule ^tvshows/(.+)$ tvshow-template.php?id=$1 [L]

# URL Rewrite Admin 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/edit-movies/(.+)/?$ admin/edit-movie.php?edit-movie=$1 [L]
RewriteRule ^admin/edit-series/(.+)/?$ admin/edit-webseries.php?edit-webseries=$1 [L]
RewriteRule ^admin/edit-tvshows/(.+)/?$ admin/edit-tvshow.php?edit-tvshow=$1 [L]

