@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
  font-family: 'Titillium Web', sans-serif;
}

.img-prev{
	width: 140px !important;
	height: 100%;
}

  
.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}
  
.horizontal-scrollable > .row > .col-4 {
    display: inline-block;
    float: none;
}

::-webkit-scrollbar {
	height: 9px;
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #556EE6; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #556EE6; 
}